%li
	/ = form_for [task.activity, task] do |f|
	/ 	= f.check_box :complete
	/ 	= f.submit "Update", {method: :put}
	/ 	= f.label :complete, task.description
	
	= task.description
	= link_to "Done", activity_task_path(task.activity, task: task), html_options = {method: :put, class: 'pull-right'}