// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
textarea {
	min-width:500px;
	max-height: 200px;
}

input.primary {
	color:white;
}

div#activity_graph {
	width:100%;
	height:40%;
}