// Place all the styles related to the activity_groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.padding_bottom1 {
	padding-bottom:4%;
}

.padding-bottom0 {
	padding-bottom:1%;
}

.padding_top1 {
	padding-top:4%;
}

li.span1, li.span2 {
	list-style-type:none;
	padding-left: 10px;
}
