// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.input-task {
	width: 50%;
}

.indent5pc {
	padding-left: 5%;
}

.width80pc {
	max-width: 80%;
}

.padding1pc {
	padding: 1%;
}

.centered {
	margin-left:auto;
	margin-right:auto;
}