%h2=activity.title
%p=activity.description
%p="Last time tracker ended on #{activity.time_trackers.last.date.strftime("%D")} at #{activity.time_trackers.last.clock_in.strftime("%H:%m")}"
%p=link_to "Clock in", clock_in_activity_path, {class: 'btn btn-large btn-primary', method: :post}