%h2 Activities

%table.table
	%thead
		%th #
		%th Name
		%th Actions
	-@activities.each_with_index do |activity,i|
		%tr
			%td=i+1
			%td
				.text=link_to activity.title, activity_path(activity)
			%td
				=link_to "Edit", edit_activity_path(activity), {class: 'btn btn-small'}
				=link_to "Delete", activity_path(activity), {class: 'btn btn-small btn-danger', confirm: (I18n.t "confirmations.activity")}, method: :destroy 

	
=link_to "Add Activity", new_activity_path, {class: 'btn btn-large'}