.row
	.span9
		%h2="#{@activity.title} statistics".capitalize
		=content_tag :div, "", id: "activity_graph", data: {time_tracker_graph: graph.current_week_daily_time}
	.span3
		%h2=@activity.title.capitalize
		%p=@activity.description
		%table.table
			%caption
				%h2 Last record
			%thead	
				%th Clocked in 
				%th	Clocked out
			%tr
				%td=@clock_in
				%td=@clock_out
			%tr	
				%td=link_to "Clock in", clock_in_activity_path, {class: 'btn btn-small btn-primary', method: :post}
				%td=link_to "Clock out", clock_out_activity_path, {class: 'btn btn-small btn-primary', method: :put}